[2020-04-04 01:00] zkagin opened #14 "Adding Tests"
The google_classroom library doesn't currently have any tests. The goal of this issue is to add testing coverage for the API processing and saving into a DB. For each call to the API, this would include:

 - Patching the API return and confirming that data is received and processed correctly.
 - Spinning up a fake database and confirming that data is written correctly to the right tables.

[2020-04-04 01:01] zkagin opened #15 "Adding Safety Checks"
This library currently assumes a lot about the structure of data coming from the Google Classroom API and what files/tables exist in the integrated database. The goal here would be to make sure to check and no-op rather than crash in these cases, and potentially to warn the user with a clear error message if something is wrong and needs to be fixed to continue.

[2020-04-04 01:03] zkagin opened #16 "DB Agnosticism"
The current library assumes in a number of places that MSSQL is used as the library. One of the broader goals is to make this library database-agnostic, so that it can be used with everything from MSSQL to SQLite to cloud-based DBs like BigQuery or Redshift.

[2020-04-04 01:05] zkagin opened #17 "Optimizing Performance"
Right now all calls to the Google Classroom API are done sequentially and individually. As we identify bottlenecks, the goal is to optimize these calls and minimize the time to run this from hours to minutes. This can potentially be done through both batch calling the endpoints and through parallelization of calls.

Further details are pending a performance test.

[2020-04-04 01:06] zkagin opened #18 "Adding Idempotency"
Right now, when the library is called multiple times, it can duplicate some data. The goal is eventually to allow the user to run the script as many times as needed without worry that they may accidentally delete old data or double-count new data.

One option to solve this may involve transitioning away from the files caches in /data which currently are causing some of these issues and instead usi

[2020-04-04 01:36] dchess opened #19 "Adding Notifications"
The current job would benefit from a way to notify success/errors when running as a job. We do this standard by adding a mailer that emails a Slack channel, but am wondering if we need a broader approach for this project.

[2020-04-04 04:33] zkagin opened #20 "Converting Params To Environment Variables"
Right now to configure which data gets pulled requires modifying the dockerfile to exec different commands. This should be moved to booleans in an env file so that code does not need to be modified to configure the call, and so configurations can be saved locally.

[2020-04-04 18:25] #15 closed

[2020-04-07 21:29] dchess commented on #19
@zkagin I'm going to add our standard Mailer for now and we can refactor/improve later.

[2020-04-07 23:56] zkagin commented on #19
Sounds great, happy to take a look once you've implemented it.

[2020-04-08 15:21] #16 closed

[2020-04-08 15:22] #20 closed

[2020-04-08 23:37] #18 closed

[2020-04-09 02:51] dchess opened #28 "Fix OrgUnit ValueError bug"
https://github.com/kipp-bayarea/google_classroom/blob/e8e40c5ae5891adf1eb94ef1b717f9a6a0d91b9c/api.py#L169-L171

@zkagin I am encountering an issue running the latest branch (traceback below)

[code]

[2020-04-09 03:32] dchess opened #29 "Add ability to pull usage data for a range of dates"
https://github.com/kipp-bayarea/google_classroom/blob/e8e40c5ae5891adf1eb94ef1b717f9a6a0d91b9c/api.py#L158-L172

Modify the student usage request to use the max AsOfDate in the database to query a range of dates between then and the max date available (two days prior to today). This should also delete the latest day in the database table to ensure completeness of data (some days can load partial d

[2020-04-09 03:59] dchess commented on #28
@zkagin It looks like the shape of the orgUnit dataframe is pivoted and the row index is now the column header. I was able to get this work by changing it to:
[code]
But that is pretty obtuse. I'm wondering if this is related the the `df.reindex()` function that is being now.

[2020-04-09 05:41] zkagin commented on #28
I think it's the `filter_data` line in OrgUnits causing the issue, I'm looking into it now.

I figured out how to create Org Units and was able to repro the bug, so hopefully will have a fix shortly.

[2020-04-09 05:46] zkagin commented on #28
Nope, wasn't that: the pivoting is happening at the line `all_data = all_data.append(df)`.

Looking at why that's the case and what we can do instead now.

[2020-04-09 05:54] zkagin commented on #28
https://github.com/kipp-bayarea/google_classroom/pull/30

This is a quick fix for now. I need to look a little bit more closely at pandas append behavior to fully understand why this is happening and whether there is a better solution long-term.

[2020-04-09 17:22] #28 closed

[2020-04-09 17:24] #19 closed

[2020-04-10 16:23] dchess commented on #17
@zkagin Are you thinking of using threading to address this or async?

[2020-04-10 17:59] dchess opened #31 "Investigate CustomerUsageReport"
https://developers.google.com/admin-sdk/reports/v1/appendix/usage/customer/classroom

Will this report give us better usage data than the userUsage endpoint we are using now?

[2020-04-10 18:08] dchess opened #32 "Add OrgUnit name to db table"
It would useful to see the name of the org unit along with its id in the db table for auditing purposes.

[2020-04-10 18:14] zkagin commented on #17
My plan was to try the Google batching API first and see how much progress we make, and then if we need to optimize more, use async. Async is generally better for tasks with delays, whereas threading would be more useful if we had a lot of local processing to be done. If it turns out our bottleneck is in processing the incoming data, we can definitely look at using threading as well or instead.

[2020-04-13 23:03] dchess opened #34 "StudentSubmissions request writing dupes to db"
[code]

When this call encounters certain courses, it is loading way more records than exist in the course. For instance there is a course with 22 assignments and 29 students, that returns 100Ks of records. It should only be pulling back ~600+ records.

[2020-04-13 23:03] dchess commented on #34
@zkagin I tried removing the tenacity retry decorator but that does not seem to be the cause of the issue.

[2020-04-13 23:28] dchess commented on #34
https://github.com/kipp-bayarea/google_classroom/blob/2ae90c574d376cb0bf487050df80591ea11c5cc4/api.py#L393-L400

@zkagin: I think the issue is that this request object doesn't ever get passed the page_token!

[2020-04-14 15:46] #29 closed

[2020-04-14 17:46] dchess opened #37 "Fix request retries to be per request"
Currently with the new method `get_and_write_to_db` when a request fails, the entire loop starts again. This should happen per request so that if a single request fails only that request retries.

I.E. if the students query loops over 1200 courses and a single course request fails midway it starts back over at course 1. It should just retry that single course request and continue on.

[2020-04-14 21:10] zkagin commented on #37
Yep, should be straightforward to factor out that piece and add retry logic to it.

How frequently are you getting failures? Is there any cause in particular that is failing?

[2020-04-14 21:41] dchess commented on #37
@zkagin I spotted it while troubleshooting the student submission endpoint, but would most likely occur with API timeouts when requests are coming too fast or when there is a malformed request or unavailable data.

[2020-04-14 21:41] #34 closed

[2020-04-17 16:24] dchess opened #39 "Add dueDate parsing to CourseWork"
Currently the dueDate timestamp is parsed into the following fields:

- dueDate.year
- dueDate.month
- dueDate.day
- duetTime.hours
- dueTime.minutes

It would be preferable for this to be a single datetime field.

[2020-04-17 16:25] dchess opened #40 "Fix data conversion error on CourseWork"
When importing the CourseWork endpoint, the following error is occurring:
`sqlalchemy.exc.ProgrammingError: (pyodbc.ProgrammingError) ('42000', '[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Error converting data type nvarchar to float. (8114) (SQLExecDirectW)')`

This is either coming from the topicId or one of the dueDate/dueTime fields.

[2020-04-19 17:26] #14 closed

[2020-04-20 16:03] dchess opened #41 "Add partial data tracking on usage reports"
When running the usage report for multiple dates if more than the most recent date has partial data, reruns only refresh the latest date and do not account for partial data on past dates.

One option would be to flag any dates that have partial data warnings and when rerunning the job truncate those dates.

[2020-04-20 20:58] dchess commented on #41
On further reflection, I think the approach to this problem would be to prevent the job from loading usage data for dates that have the following warning (that way we don't erroneously load partial data).

[2020-04-20 21:06] dchess opened #42 "Add runtime option for running the job for all endpoints"
Now that batching is in place, it would be good to add a way to call the end-to-end job for all endpoints.

Currently this would need to run as:
`docker run --rm -t google_classroom --usage --courses --topics --coursework --students --teachers --guardians --invites --submissions`

Or by setting these all in the `.env` file.

It would be preferable to either add an optional `--all` flag to run them

[2020-04-21 21:31] dchess commented on #40
@zkagin The description field is being interpreted as a float by pandas initially and then string are failing to import

[2020-04-21 22:18] dchess commented on #40
@zkagin a hacky fix that is working is to add `sorted` on the course_ids

[2020-04-23 00:13] #17 closed

[2020-04-23 03:34] zkagin commented on #40
@dchess I am unable to reproduce this bug running Courses + CourseWork on an MSSQL Docker container (and removing the sorted() fix). Can you provide more info on which column / data seems to be causing the error?

I'm going to do the fix for #39 and may defer to you on whether that fixes this bug as well, if you can consistently repro.

[2020-04-23 03:49] dchess commented on #40
@zkagin make sure you set your school year start date to 2019-07-01. Its coming from the description field of about the 3rd record in.

[2020-04-23 17:10] zkagin commented on #40
@dchess I have that set up, but on both MSSQL and Postgres I'm not running into the error. Perhaps the order of courses is non-deterministic or dependent on which user is requesting the data.

Can you confirm that the submitted PR #44 solves this issue? It removes the sorted so it should otherwise break if it doesn't correctly fix it.

[2020-04-23 18:08] zkagin commented on #31
I took a look at this, and I don't think we can use it.

- It doesn't take orgUnit as a parameter, so it'll get data across all organizations.
- It doesn't appear to be any more up-to-date than the usage report.
- It looks like it provides summaries of all usage rather than on a user-by-user basis. So it has a count of classroom activity, but not the individual users.

You can play around with it

[2020-04-23 18:08] #31 closed

[2020-04-23 22:17] dchess opened #49 "Query StudentSubmissions by coursework"
Rather than querying the StudentSubmission endpoint by looping over Courses, it could be preferable to loop over individual assignments (CourseWork). That way the query could be date-bound by pre-filtering the assignments by creationTime. While this might result in more calls, it may reduce pagination because it would be less data volume overall. Using Courses to query pulls in every assignment ev

[2020-04-24 00:18] dchess opened #50 "Merging Strategy"
@zkagin What strategy would you recommend for approving multiple PRs? Do you generally prefer to approve the dependent branches and merge them into the parent branch before merging all of them into master?

Otherwise, it seems its necessary to keep rebasing after each merge.

[2020-04-24 00:29] zkagin commented on #50
Most of the new PRs are diffed on master, so hopefully those ones can be merged directly. For the ones that are chained, I think doing a rebase is the cost of that kind of logic. Now that the broader code structure is mostly in place, I am optimistic I can separate out PRs so that they are branched off of master more often so we won't have to worry as much about it.

[2020-04-24 05:34] #50 closed

[2020-04-24 05:43] #39 closed

[2020-04-24 05:58] dchess opened #54 "SQL Deadlock"
When running the StudentSubmissions endpoint query, the following error occurs (and is only visible after retries are exhausted or disabled):

[2020-04-24 06:19] zkagin commented on #54
Where is it catching? Perhaps one of the callbacks from the batch request is still writing to the DB at the same time as another callback is coming in. I would've thought in that case that Sqlalchemy handles the DB locking well, but perhaps we need to do some of it manually.

[2020-04-24 20:11] dchess commented on #54
@zkagin It's unclear what's causing it but it's between batches. It's intermittent and subsequent reruns don't always produce the error, so you're thought about the callback may be right.

[2020-04-24 20:13] dchess opened #55 "Add Invitations endpoint"
One previously ignored endpoint that could be valuable is the [Invitations](https://developers.google.com/classroom/reference/rest/v1/invitations) resource. This could be useful for identifying students who have been sent an invite, but haven't shown up in the Students by course dataset.

[2020-04-25 00:50] #37 closed

[2020-04-25 00:52] #32 closed

[2020-04-25 01:25] #41 closed

[2020-04-25 16:55] dchess commented on #40
@zkagin This is still coming through on the latest branch. It's related to the description field in CourseWork being set as float rather than string by pandas from the first few records. We may need to explicitly set dtypes similar to how we are doing it for dates.

[2020-04-27 15:09] dchess opened #59 "Batch request ID already exists"

[2020-04-27 15:11] dchess commented on #59
@zkagin I encountered this a couple times while running the CourseWork and StudentSubmissions queries. It seems related to the retry logic adding a new batch request when the ID already exists. I'm not 100% sure its from the retry, but that's where my brain went when I saw it. So far I've been able to work around it by restarting the job.

[2020-04-27 22:26] #42 closed

[2020-04-27 22:48] dchess opened #60 "Add CourseAlias endpoint"
Some schools use the course alias to map their classes to their SIS. It would be useful to include this in the connector for full coverage: https://developers.google.com/classroom/reference/rest/v1/courses.aliases

[2020-04-27 22:51] dchess opened #61 "Add autodoc documentation"
As we begin to near a place of stability and other users want to leverage this connector, it would be useful to include a basic level of documentation. We should consider adding Sphinx autodoc to auto-generate documentation from docstrings.

[2020-04-27 23:02] dchess commented on #49
@zkagin I think we can accomplish this simply by creating a new method for Courses:

[code]

and then calling it in `main.py`:
[code]

[2020-04-27 23:13] dchess commented on #49
Actually, we may want to use a different env var for this date.

[2020-04-27 23:26] #40 closed

[2020-04-28 16:29] dchess opened #63 "Add Announcements Endpoint"
Some courses use announcements to share resources and it may be a useful datapoint for analysis: https://developers.google.com/classroom/reference/rest/v1/courses.announcements#Announcement

[2020-04-29 16:58] dchess commented on #54
Closing this issue for now until we see it again.

[2020-04-29 17:00] dchess opened #64 "Move database inserts to batch level"
Right now the database writes are happening as part of the batch request callback. This may be creating performance bottlenecks. One option would be to move this to the batch level and cache the data for writing until the entire batch request is finished.

[2020-04-29 17:13] denglender opened #65 "Support for Meet Data"
Classroom has an integration w/Meet, which provides video chat.  Would be great to pull in Meet usage data as well via [reports API](https://developers.google.com/admin-sdk/reports/v1/reference/activities/list) for the call_ended event.

From my perspective, the relevant columns are:

- conference_id
- device_type
- display_name
- duration_seconds
- endpoint_id
- identifier
- identifier_type
- ip_

[2020-04-29 19:02] zkagin commented on #59
@dchess I am not able to repro this even while running everything together. I don't see any mechanism by which a the remaining_requests can have duplicate keys. There are a few ways to solve it (use a set or key-dictionary instead), but I'm afraid that may cover up some deeper or unexplained issue.

I am curious if the long execution time of the callback may be causing some weird race condition, s

[2020-04-29 19:46] dchess commented on #59
@zkagin I didn't encounter this today when running the job end-to-end so I'm wondering if this was related to simultaneous runs using the same service account. I agree about pivoting to the database writes issue and we can monitor if this continues to occur.

[2020-04-29 20:44] zkagin commented on #59
@dchess That could very well be. Let's leave this open for a few days, and if (especially after the latest PR to improve performance) you're not running into it then, we can close this out.

[2020-04-29 23:10] dchess opened #67 "Add unit tests for CourseWork and StudentSubmissions"
https://github.com/kipp-bayarea/google_classroom/blob/3736fe4d85a8b9428bf77323c0789ba3e80ff169/tests.py#L24

Now that all endpoints have been added with PR #62, it would be good to have full coverage of all the endpoints mocked out in the tests.

[2020-04-30 01:36] #55 closed

[2020-04-30 03:47] denglender opened #68 "Usage Data fail on first run"
@dchess - Was thinking more about the error we looked at today, and (admittedly not having fully immersed myself in the code), I don't think it was due to not having quotes around the date in the .env file.

I think it will always fail if there is no data in the student usage table and that it only worked today because my workaround fed data into the student usage data prior uncommenting the origi

[2020-04-30 04:00] zkagin commented on #68
@denglender I just confirmed the error I assume you're receiving (`TypeError: unsupported operand type(s) for +: 'NoneType' and 'datetime.timedelta'`), and will have a fix out shortly.

[2020-04-30 04:01] denglender commented on #68
Correct!
________________________________
From: zkagin <notifications@github.com>
Sent: Thursday, April 30, 2020 12:00:21 AM
To: kipp-bayarea/google_classroom <google_classroom@noreply.github.com>
Cc: Daniel Englender <denglender@dcprep.org>; Mention <mention@noreply.github.com>
Subject: Re: [kipp-bayarea/google_classroom] Usage Data fail on first run (#68)

CAUTION: The email below was sent from

[2020-04-30 04:05] zkagin commented on #68
PR submitted, @dchess to review / merge when ready.

[2020-04-30 04:12] #68 closed

[2020-04-30 04:13] dchess commented on #68
@denglender I've merged this fix. You can pull the latest changes to your local now.

[2020-04-30 23:15] #63 closed

[2020-04-30 23:15] #60 closed

[2020-05-01 00:01] #64 closed

[2020-05-01 15:32] #67 closed

[2020-05-03 20:22] zkagin commented on #65
Thanks for the request @denglender! I'll take a look and see what we can do.

@dchess This data comes from a new endpoint, Activities, rather than UserUsageReport, so we will need to expand the scopes for the service accounts to include:
`https://www.googleapis.com/auth/admin.reports.audit.readonly`

Can you add this to the account permissions, and I'll add this in?

I also looked into whether the

[2020-05-07 18:49] denglender commented on #65
I'm happy to do some testing against my domain after adding the scopes as well.

[2020-05-11 02:29] denglender commented on #54
Received this error intermittently as well.  Here's the one example I've seen thus far.  It was successful upon re-running the sript.

[code]

[2020-05-11 04:33] zkagin commented on #54
Thanks for reporting @denglender! By chance, were there any other services potentially reading from or writing to the DB at the time you were running the script?

@dchess I don't think there's any particular logic in our code here that would cause a deadlock, as we are batching the writes now and everything happens in sequence. If it is running into a deadlock with another service reading/writing

[2020-05-11 13:25] denglender commented on #54
I can't imagine there would have been anything else writing to the database at that time.

It's possible, but still not likely, that something was reading from the database at that time.

[2020-05-12 23:30] #65 closed

[2020-05-13 20:48] dchess opened #77 "Add unit tests for Meets data"
Now that we've incorporated the Meets endpoint, it would be good to add test coverage.

[2020-05-13 22:18] zkagin commented on #77
@dchess Can you update the scopes on the test service account so I can use the endpoint and determine the data structure? Thanks!

[2020-05-18 13:14] bkimup opened #78 "Possible to get only new or updated data?"
Anyone know if it's possible to get new/updated data from the API? I have a similar script running to pull data, but have a bottleneck on StudentSubmissions since it has a huge amount of data now after about ~2 months of remote learning. Curious to hear if it might be possible to get new and or recently updated data in incremental fashion.

[2020-05-18 16:28] dchess commented on #78
@bkimup Unfortunately the [Google Classroom API ](https://developers.google.com/classroom/reference/rest/v1/courses.courseWork.studentSubmissions/list)doesn't have a built in query param for dates. However, one idea we've considered is querying the coursework data for recently created assignments and then looping over the submissions endpoint by courseWorkId instead of courseId. See open issue #49

[2020-05-18 18:47] bkimup commented on #78
Got it, batching isn't supported for studentsubmissions, right? It takes our script about an hour just to pull studentsubmissions for about ~230 courses, so I'm just trying to think of what we can do to improve the speed as the dataset grows.

[2020-05-18 19:22] dchess commented on #78
@bkimup That's surprising to me. StudentSubmission is batched. We have ~1300 courses and it finishes in <20 mins for us.

[2020-05-20 03:04] zkagin commented on #78
@bkimup I have a few hypotheses for what might be happening. If you run it in debug mode (using the `--debug` flag), can you see if any of the problems below might be happening?
 - One or a few classes have a huge number of submissions, so most of the time is spent paging through that class's results.
 - Google is aggressively limiting quota for your instance, in which case you'll frequently hit t

[2020-05-20 12:58] bkimup commented on #78
Ah I should have followed up after DC's comment - I'm not doing any batching at the moment. I didn't know about batching when I first wrote my script and didn't think it was applicable to StudentSubmissions after I learned about it. So your first assumption is correct - I'm iterating through all of our courses' courseworks, and that's why it's taking so long to get results. I haven't had time this

[2020-05-20 22:43] zkagin commented on #78
@bkimup To clarify, are you using the code in this repo or do you have your own script you are writing? This repo should automatically handle the batching for you now. If you're implementing it yourself, there are a few modifications you'll need to make. There's a good guide at the link below, and you can use the code in `api.py` for inspiration if you'd like.

https://developers.google.com/classr

[2020-05-28 00:53] dchess opened #81 "Add late column to studentSubmissions"
There is a `late` boolean field in the API that would be good to add for simpler flagging of late assignments in analysis. I'm not sure why we didn't add this initially, but it seems like a simple addition.

[2020-05-28 00:54] dchess commented on #59
Closing since this hasn't been seen in tests or production for the last month.

[2020-05-28 00:54] #59 closed

[2020-05-28 01:01] dchess opened #82 "Add individualStudentOptions for courseWork"
There is a [nested dataset within the courseWor](https://developers.google.com/classroom/reference/rest/v1/IndividualStudentsOptions)k endpoint that is used when an assignment is assigned to a subset of students. This is necessary to pull in so that it can be determined which assignments were not assigned to all students and so missing assignments in analysis can be more exact. However, adding thi

[2020-06-01 02:50] bkimup commented on #78
Sorry for the confusion, I'm writing my own script and was trying to add the batching feature to it since I wouldn't be able to utilize this repo. Not sure if this is the right place to ask for how batching works - I'm having a little trouble figuring out the response from a batch request. Is it alright if I follow up with you one/both of you guys via email?

[2020-06-01 03:54] zkagin commented on #78
@bkimup I'd be happy to help. What is causing this repo to not be useful for you? Perhaps we can adapt or expand it to make things easier as well.

The batch documentation is pretty useful here, especially the code sample at the bottom: https://developers.google.com/classroom/guides/batch
Once `batch.execute()` is called, it blocks until all of the requests have been returned. Each request then ca

[2020-06-09 22:48] dchess commented on #82
@zkagin I'm not sure this is necessary. Based on some analysis, this should be possible to infer by checking records and state in the studentSubmissions table. If an assignment was assigned to a student but hadn't been turned in it would have the NEW or CREATED state. However, if it was not assigned at all there would be no record at all.

[2020-06-16 22:03] zkagin commented on #77
Fixed by #79

[2020-06-16 22:03] #77 closed

[2020-06-16 22:21] #81 closed

[2020-06-17 04:49] zkagin commented on #82
Makes sense. Is it something you think would still be useful, or should we hold off on it for now?

[2020-06-17 17:17] dchess commented on #82
@zkagin I think we can close this for now.

[2020-06-17 17:17] #82 closed

[2020-06-17 17:18] dchess commented on #54
@denglender Have you encountered this error again since you reported it?

[2020-06-19 03:00] denglender commented on #54
I haven't noticed it, but to be honest, I also haven't been checking the error log (nor saving it), so I may not have noticed if it had happened.

[2020-07-09 01:25] #78 closed

[2020-07-09 01:25] #54 closed

[2020-07-22 19:51] zkagin opened #85 "Creating Diffing Logic to Check Difference Between Stored List of Items and Provided List"
Task: create functions for comparing the most recently pulled list of items with a provided "master list" of items. This should result in a list of changes that need to be made in the form of deletes, adds, and updates.

[2020-07-22 19:52] zkagin opened #86 "Build First Write Endpoint For Courses"
Task: Add a new endpoint for adding or updating new courses, and test it in both sandbox and via new written tests.

[2020-07-22 19:53] zkagin opened #87 "Adapt Batching Logic For Write Endpoints"
Task: Take the existing batching logic and adapt it for the new write endpoints. This may also include handling additional error types.

[2020-07-22 19:54] zkagin opened #88 "Add Write Endpoints for Teachers"
Task: Add ability to add, delete, and update teacher items based on the source of truth provided.

[2020-07-22 19:54] zkagin opened #89 "Add Write Endpoint For Students"
Task: Add ability to add, delete, and update student items based on the source of truth provided.

[2020-07-22 19:54] zkagin opened #90 "Add Write Endpoint For Topics"
Task: Add ability to add, delete, and update topics items based on the source of truth provided.

[2020-08-03 21:10] dchess opened #91 "Archive StudentSubmissions before refresh"
If a student is removed from a course all of the submission data for that course is lost. We should create a snapshot of prior day data before truncating the table.

**Possible logic:**
- Before truncating StudentSubmission table, append data to archive table
- Refresh StudentSubmission table
- Remove any matching assignment (by submission id) from archive table that exists in current table

This

[2020-08-10 19:16] richmcd opened #92 "Aliases endpoint does not record courseId"
The course.aliases.list API responds with an array of CourseAlias objects.  CourseAlias does not contain a courseId property though.  Unfortunately, to be useful from a data reporting perspective, we need the courseId in the CourseAliases table.

I've been able to work around this issue for now by specifically handling aliases in the internal callback method of api.py -> EndPoint.batch_pull_data.

[2020-08-10 20:47] dchess commented on #92
@richmcd Thanks for flagging this. We are working on some changes to the codebase right now and will take this into account. We appreciate the contribution! Please let us know if you find any other bugs or issues.

[2020-08-10 23:52] zkagin commented on #92
@richmcd Thanks for pointing this out. I submitted a fix that takes a similar approach but applies it more generally. It may need to wait for merging until a dependent PR is also merged.

[2020-08-10 23:56] richmcd commented on #92
Thanks @zkagin, I'll keep an eye out for it.

[2020-08-11 22:13] #92 closed

[2020-08-13 01:17] dchess opened #95 "Add additional course statuses to Courses Endpoint"
@zkagin When a course is archived in Google Classroom it doesn't get pulled by the API. This currently only pulls active.

[2020-08-13 01:21] dchess commented on #95
I think this can be fixed with a simple change to the status list in:
https://github.com/kipp-bayarea/google_classroom/blob/2310e846093415cddda96987558409298d4df056/google_classroom/api.py#L407-L412

[2020-08-13 01:25] dchess commented on #95
It will also likely require a change to the course id pull to filter on active status though:
https://github.com/kipp-bayarea/google_classroom/blob/2310e846093415cddda96987558409298d4df056/google_classroom/main.py#L115

[2020-08-14 01:27] zkagin commented on #95
Just to clarify, do you want to pull in inactive courses to the database as well then?

[2020-08-15 17:08] #95 closed

[2020-08-19 15:22] dchess commented on #91
@zkagin Can we prioritize this piece of logic before moving forward more on the syncing logic?

[2020-08-19 18:23] zkagin commented on #91
Yep. Just to confirm, the end result we want is an ever-growing list of deleted StudentSubmissions, correct? And built so that we can use this logic for any of the endpoints as needed?

[2020-08-19 18:51] dchess commented on #91
@zkagin Yeah. I think we'd want to maintain a list of data that has previously come through so the truncation of the main table doesn't result in data loss. @denglender also let me know today that the Meets endpoint only stores the last 6 months of data. So we will want it for that as well. I think putting this logic in place for all endpoints makes sense as well since even a year-to-year rollover

[2020-08-19 22:32] zkagin commented on #91
Yep, the cleanest way is probably a soft delete pattern, where there's an additional "deleted" column. The downside is then we start needing to deal with schema migrations, since we are no longer dropping the table after each run. The first migration can be a simple if statement, but future ones probably should be handled more robustly with something like Alembic.

The diffing logic I sent in #98

[2020-08-20 22:20] zkagin commented on #91
@dchess Just checking in on this again — let me know if you like the described approach or if you had something else in mind.

[2020-08-21 02:07] dchess commented on #91
@zkagin Thinking about this more, I'm wondering if the deleted column is necessary? Shouldn't IDs be unique? Couldn't we append then remove duplicate IDs preserving the matching ID with the most recent updateTime?

[2020-08-21 02:14] zkagin commented on #91
Yep, if you don't need to know which student submissions are from deleted / removed students, then we shouldn't need a delete column. That might be a short-term answer to it.

I think checking for differences and then doing adds/updates/deletes to the DB is better than appending and then deduping both from a stability and performance perspective (minimizing DB writes in both cases). I can start bu

[2020-08-21 02:17] dchess commented on #91
@zkagin That makes sense to me (minimizing db writes) but I'm also concerned about memory limitations by keeping the diffing in local memory. I've been hitting some memory thresholds on the coursework and submissions endpoints lately.

If the diffing could be done at the batch level and minimized the dataframes held in memory before writing the inserts then I could see that approach working.

[2020-08-21 02:17] zkagin commented on #91
Thinking more, you could probably infer that something is deleted by seeing how recent the updateTime is, but that feels pretty non-explicit if that information is relevant (for either StudentSubmission or for any other Endpoints we eventually want this functionality for). Either way, as a first-pass solution this should work without changing any DB schema.

[2020-08-21 02:19] zkagin commented on #91
@dchess Are you seeing any performance issues when you run it on your own machine, or is the production environment more limited? I can try and simulate it on my own machine to make sure memory isn't an issue.

[2020-08-21 02:20] dchess commented on #91
@zkagin I'm not sure its a delete in all cases. In some it's more about preserving previously pulled data (ie when the start date changes).

Memory has been an issue in production, but we are running slim VMs (2-4GB). Could be this job requires more resources.

[2020-08-21 02:24] zkagin commented on #91
@dchess Makes sense then, let's do it without a delete, and can add additional information later if need be.

If memory is in an issue, we will need to handle it for writing back to GC anyways, so we can do batching by ID if need be in a pretty straightforward manner.

[2020-08-21 03:53] zkagin commented on #91
@dchess I did some playing around with this, and it looks like pandas only really likes to write/append to SQL, not delete or update. So we have a few options with some tradeoffs:

 - Loop through individual items to do updates or deletes from pandas data (this might have some performance implications if there are a ton of items to update, but may not be bad at all if it is run more frequently).

[2020-08-21 03:55] zkagin commented on #91
@dchess One other idea to build on the 1st/2nd would be to write the updated/new data to a temp table, then write a shorter SQL query to upsert the data into the existing table.

[2020-08-21 03:56] dchess commented on #91
@zkagin check the docs for sqlsorcery I have some examples of how to do updates/deletes by dipping into sqlalchemy functions.

[2020-08-21 04:03] zkagin commented on #91
@dchess I looked around and saw options for dropping/truncating a table and for returning a SQLAlchemy table object to run commands, but couldn't find anything for doing batch updates/deletes from a dataframe. Could you point me to what you were thinking of?

[2020-08-21 04:05] dchess commented on #91
@zkagin
Updates: https://sqlsorcery.readthedocs.io/en/latest/cookbook/etl.html#update-table-values

Deletes: https://sqlsorcery.readthedocs.io/en/latest/cookbook/etl.html#delete-specific-records

[2020-08-21 04:08] zkagin commented on #91
Ahh yes. Unfortunately I think we'd still have the problem that there's no way to summarize which rows need to be updated? If it is an arbitrary set of rows, it seems we still need to iterate through each item to be updated and call it separately.

It now occurs to me though that if we can batch the execution of it, this may be totally ok. I would just want to avoid having to write and commit each

[2020-08-29 19:12] zkagin commented on #86
@dchess Should we be creating courses as PROVISIONED (an invitation that the teachers need to accept) or ACTIVE (already fully created)?

[2020-09-02 20:16] denglender opened #100 "Incremental Meet Updates"
Pulling Google Meet data currently takes about 15 minutes for us, a relatively small network of schools.  For a mid- to large-sized network, this could take a extremely long time.

It's probably a good idea eventually to change the Meet logic to query only for new data since the last update, and append that to the table, rather than dropping the table and re-adding everything.

[2020-09-02 20:34] dchess commented on #100
@denglender Thanks for flagging this. It does look like the admin activities report api does have optional parameters for filtering by start_date. So this should be possible to adjust similar to the usage report. @zkagin What do you think?

[2020-09-04 01:37] zkagin commented on #100
Yep, this definitely seems doable. I can take a look at it next week. I think we've handled most of the edge cases with the usage report, so hopefully it is fairly straightforward.

[2020-09-04 15:09] denglender commented on #100
Great!  Thanks both.

Also noting, this may obviate the need for #91 as it relates to Meet data, since if only adding the incremental data and not dropping the table, you won't have to worry about losing data due to the the six month rolling window on google's side.

[2020-09-04 15:17] denglender opened #102 "Invalid column name 'ImportDate'."
Our morning sync errored today with the following:
[code]

A couple days ago I pulled down the last few months of commits (in an attempt to see if that would address the deadlocking crash that we started to see again), so I'm guessing that's the proximal cause.  I can easily create what appears to be the missing column in our DB, just passing along as an FYI that there may have been a breaking cha

[2020-09-04 15:37] dchess commented on #102
@denglender Did your StudentUsage table not have the ImportDate column? I find that strange since the structure of this table has been those 4 columns since very early in the code development (as early as Mar 25 from what I see in the git history). @zkagin Are you aware of any breaking changes to the schema of that table at some point? Did it get removed and then added back at some point that you

[2020-09-04 15:39] denglender commented on #102
That's correct.

<img width="426" alt="stusage" src="https://user-images.githubusercontent.com/17971792/92257480-48ff6b00-eea3-11ea-9cb5-b64f5624d538.png">

[2020-09-05 01:30] zkagin commented on #102
Thanks for reporting @denglender. It was added in #74, right after your commit adding Meet data, which might've been the last time you pulled.

@dchess Prior to that, the ImportDate was processed, but not being committed to the DB. #74 added it to the `columns` property so that it'd add the column as well.

Right now we don't handle any database migration, but now that the library is more complete

[2020-09-05 01:30] #102 closed

[2020-09-26 00:17] dchess opened #105 "StudentSubmissions Memory Error"
@zkagin Here's a traceback for that memory error I mentioned:
[code]

[2020-09-26 01:52] dchess commented on #105
@zkagin When I run this locally, I don't get the memory error, it just fails silently.
[code]
With debug it does much the same thing with no further clue.

[2020-09-26 21:02] zkagin commented on #105
Interesting. There's not much that gets retained between batches, so perhaps the data coming back from StudentSubmissions is overwhelming the RAM provided on your server or VM? I'll try and repro this by limiting available memory as well. Does it happen only for StudentSubmission?

In the mean time, one hypothesis for a fix would be to lower the batch size on StudentSubmissions. If you are still g

[2020-09-30 03:44] zkagin opened #106 "Failing tests don't trigger a failed Github Action Check"
Even though the tests are failing with an exit code 1, the Github Action is still allowing the check to pass.

[2020-09-30 14:56] #85 closed

[2020-09-30 19:30] #106 closed

[2020-10-14 16:12] dchess commented on #105
@zkagin I tried reducing the batch size and that worked for a little while but we eventually encountered the error again at the smaller batch size. I've doubled the RAM on the server and that worked so far.

[2020-10-19 19:49] dchess opened #111 "Add error handling for dates"
If a date in Google Classroom is outside of the bounds panda can parse, add error handling that logs the record id (and course id if relevant) and inserts it with a null date.  Example if a coursework timestamp looks like "9999-10-10 04:59:00" this would be handled as a NULL date instead but log the coursework id and the corresponding course id.

This issue was identified by KIPP Texas.

[2020-10-20 20:06] denglender commented on #100
Hi both -

Update on this, it now takes about an hour for our Meet data to sync which is pretty unwieldy, and will get more so pretty quickly, I think.

@zkagin - Obviously would prefer your code on this to stumbling through myself, but if you think unlikely to be prioritized in the near future, I'll likely put some work on it at some point.  In that case, if you had any pointers from writing the

[2020-10-21 03:58] zkagin commented on #100
Thanks for checking in on this @denglender. For some reason I thought this would be dependent on #99, but on further investigation it seems pretty straightforward to do directly. I just attached PR #112 to this, and hopefully we can get this to you soon. Feel free to patch and test it locally in the mean time.

[2020-11-20 20:42] denglender commented on #54
Heads up - Did get this deadlock again today

[code]

[2020-12-04 18:14] richmcd opened #113 "Add calendarId to course object/table"
Courses in Google Classroom now have Google Calendars associated with them.  It would be nice to have that ID available so that we can construct links to the calendar from the database.  The Course resource in the Classroom API has a calendarId field, so it seems like a simple matter of adding that to the models in this code.

[2020-12-04 18:28] dchess commented on #113
@richmcd This should be a straight-forward addition. We'll take a look at getting it added or feel free to submit a PR.

[2020-12-08 19:31] KTXDataSystems opened #114 "Coursework endpoint failing"
We're getting the following error now when trying to download coursework:

2020-12-08 01:16:47PM Central Standard Time | ERROR: (pyodbc.DataError) ('22018', '[22018] [Microsoft][ODBC Driver 13 for SQL Server]Invalid character value for cast specification (0) (SQLParamData)')
[SQL: INSERT INTO dbo.[GoogleClassroom_CourseWork] ([courseId], id, title, description, state, [alternateLink], [creationTim

[2020-12-08 19:33] KTXDataSystems opened #115 "Student Submissions error"
We're also now getting the following error downloading student submissions:

[SQL: INSERT INTO dbo.[GoogleClassroom_StudentSubmissions] ([courseId], [courseWorkId], id, [userId], [creationTime], [updateTime], state, [draftGrade], [assignedGrade], [courseWorkType], [createdTime], [turnedInTimestamp], [returnedTimestamp], [draftMaxPoints], [draftGradeTimestamp], [draftGraderId], [assignedMaxPoints],

[2020-12-09 02:30] zkagin commented on #114
Thanks for raising this, @KTXDataSystems. It looks like there is some assignment data which either has an odd type of data or a character that the database is struggling to parse. Without access to the data you have, I will have a hard time reproducing it, but I can make some changes that will at least allow for uploading of non-problematic data and print out what data is the problem. How urgent o

[2020-12-09 14:59] KTXDataSystems commented on #114
Hi Zach,

Thanks for taking a look into this.  A little tiny bit of background – around the beginning of November we started getting errors downloading the CourseWork that appeared to be due to a bad date.  There’s an issue for that, too.  But, we could live with that because the real important piece we needed was the Student Submission data which continued to work.    Then the person that monitor

[2020-12-14 01:05] zkagin commented on #114
@KTXDataSystems Thanks for the additional detail William. I have made a patch #117 that should help us find the bad data, at the very least. I was unable to reproduce this error via special characters or missing data, which makes me think it may have to do with a specific database configuration you are using. Once we know exactly what data is breaking it, that should at least help us try and repro

[2020-12-14 17:03] #113 closed

[2020-12-15 15:55] KTXDataSystems commented on #114
Well, now I can see errors!   I will try to start cleaning them up.  Here’s the first – it’s trying to insert this pair into the coursework table:  [maxpoints] : ‘Infinity’ – the maxpoints column is a float.

Wondering if it would be possible to make it log those errors (even if just to the screen) and continue on?  A million thanks either way.

--Bill

From: Zach Kagin <notifications@github.com>

[2020-12-16 21:32] bkimup opened #118 "Purpose of draftGrade and draftGraderID?"
Is there any reason for parsing the StudentSubmission data to get data related to the draft of student work as opposed to saving just one single grade, regardless of its state? Would it be bad practice to have the draft grade as a student's reported grade until a teacher grades and returns the assignment?

[2020-12-23 20:26] zkagin commented on #114
@KTXDataSystems Glad we can start to see errors. Yep, maxpoints being Infinity definitely isn't expected, so we aren't handling that well. Are you coming across any other errors, or just that one?

With the patch, it should print these errors on the screen and keep going. Let me know if it does not do that and I can see what might be happening. Once we confirm the different errors you have, I'll a

[2021-01-08 19:44] KTXDataSystems commented on #114
Zach,

Can we connect through normal email or maybe a quick call at some point?  I have some other questions about the tool and may need some additional support implementing the new changes.

I really do appreciate your help and support.

William Bartley
KTX Director, Data Systems

[cid:image011.png@01D65E6D.53DAE930]<http://www.kipptexas.org/>

KIPP Texas Public Schools
8509 FM 969 Building 619 |

[2021-01-11 05:10] zkagin commented on #114
@KTXDataSystems Not a problem. My email should be in my profile, please feel free to reach out there.

[2021-03-18 18:31] #100 closed

[2021-03-18 18:33] dchess commented on #118
The rationale here in pulling both is to allow for flexibility on how to address that. That can be handled on the SQL or analysis side if different people want to approach that differently.

[2021-03-18 18:33] #118 closed

[2021-03-18 18:33] #114 closed

[2021-03-18 18:33] #115 closed

[2021-03-18 18:38] dchess opened #120 "SQL Deadlocks"
A few of the endpoints are starting to encounter deadlocks when writing to the database:

[code]

This might require some retry logic to `_write_to_db()`.

[2021-03-23 17:59] dchess commented on #120
@zkagin I confirmed this is not a timing issue where there's a collision with another query or process. I'm wondering if the batches are somehow trying to write simultaneously?

[2021-03-26 03:27] zkagin commented on #120
@dchess How consistent or reproducible is this? Any specific Google endpoints this tends to fail on? I'm wondering if pandas is breaking up the writes into chunks of 10K and parallelizing those, causing the deadlock. If we manually break that up and do it in series instead, that would avoid the problem.

[2021-03-26 03:35] dchess commented on #120
@zkagin its been consistently failing nightly but will run if I rerun manually (most of the time, sometimes it still gets the error). Its happening on all the endpoints but not consistent.  Sometimes its coursework and submissions. Other times courses or students.

Deadlocking is usually a timing thing, wondering if just wrapping the db write method in a retry would be a worthwhile approach.

[2021-04-02 03:16] zkagin commented on #120
Deadlocking is a timing issue, but that timing requires some concurrency — there has to be something else also locking the database, and I don't see any other concurrent calls.

I'm not able to repro myself, but some more thoughts:

https://stackoverflow.com/questions/41900988/sql-server-pyodbc-and-deadlock-errors has some interesting insights into this, where the transaction might actually be con

[2021-04-05 18:02] #120 closed